<div class="row valign-wrapper">
{% for item in site.parts %}
<div id="{{item.part}}" class="col m6 l4 offset-m3 offset-l4 modal white center-align">
    <div class="modal-content">
      <h5>{{item.title}}</h5>
      <img src="{{item.image}}" style="padding:10px 0px 10px 0px; width:80%; max-width:100%;">
      <h5>Suggested donation: <strong>{{item.blurb}}</strong></h5>
    </div>
    <div class="modal-footer center-align">
      <a href="{{item.url | absolute_url}}" class="modal-action modal-close btn red darken-4 waves-effect waves-light">BUY ME!</a>
    </div>
</div>
{% endfor %}
</div>
