<!-- Test card -->
<div id="card1" class="row scale-transition scale-out" style="position: absolute;top:0px;">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-image">
        <img src="images/exhaust.jpg" style="width:70%">
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Exhaust</span>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>
</div>
