<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link href="/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css">
  <link href="/css/svg.css" media="screen,projection" rel="stylesheet" type="text/css">
	<!--Let browser know website is optimized for mobile-->
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src https://api.stripe.com https://pay.superhans.repair; frame-src https://js.stripe.com; script-src 'self' 'unsafe-inline' https://code.jquery.com https://cdnjs.cloudflare.com https://ajax.googleapis.com https://js.stripe.com; style-src 'unsafe-inline'">
	<title>{{page.title}}</title>

</head>
