<!--
<div class="row valign-wrapper">
  <div class="col s12 m9 offset-m2">
    <div class="card" style="background-color:#989692">
      <div class="card-content white-text">
        <div class="center"><img src="./images/profile.jpg" class="circle responsive-img" style="padding-bottom:20px; width:30%"></div>
        <span class="card-title">Super Hans needs some TLC!</span>
        <p style="padding-bottom:10px">Super Hans is our 1978 VW Type 2 Campervan. He is very much a member of our little family. He has a brand spanking new engine which means you shouldn't pass him sat on the hard shoulder anymore!</p>
        <p style="padding-bottom:10px">We've have some incredible adventures in him over the past three years but now it's time to give him a bit of a facelift ... some operational and some aesthetic! All of the window and door seals need replacing to keep him snug and warm in the winter, a whole pile of body work needs doing and Cat really wants the original interior (which has a wardrobe and a full width bed for our long limbs!)</p>
        <p>We plan to take him with us on our mini-moon to the Isle of Arran as the first of our married adventures together, with many more to be taken long into the future. All of this work needing to be done is a bit out of our budget at the moment. Therefore, if you feel you can donate a new wing mirror, or just contribute a bit towards some body work that would be fantastic.</p>
      </div>
      <div class="card-action center">
        <a class="btn red darken-4 waves-effect waves-light" href="./home.html">Come say hello!</a>
      </div>
    </div>
  </div>
</div>
-->
