
<script type = "application/javascript">

var FUDGE = 0.8; //(how far towards bottom right corner of the part do we draw the circle)
var ANIMATION_RADIUS = 20 //(this is the animation start radius)
var NORMAL_RADIUS = 3 //(standard radius)
var OVER_RADIUS = 4 //(during hover)
var COLOUR = "red" // (circle colour)
var OPACITY = 0.6 // (how solid the circle fill is)
var ENTRY_ANIMATION //tracks to see if in progress
var ENTRY_TIMEOUT = 2000 //in milliseconds

var elementsOfInterest = [
  {% for item in site.parts %}
  {
    id: "{{item.svg}}",
    part: "{{item.part}}"
  },
  {% endfor %}
]

function attachHandlerTo({id, part}){
  var element = document.getElementById(id)
  if(null!== element){
      //Register animation trigger
      var body = d3.select("body")
      body.on("mousemove",entryAnimation)

      //Set a timeout in case they don't move their mousemove
      setTimeout(entryAnimation,ENTRY_TIMEOUT)

      //Find superhans
      var svg = d3.select("svg")

      //Find the referenced "part" and extent
      var drawnPart = d3.select("#"+id);
      var boundingBox = drawnPart.node().getBBox()

      //Create a bounding group to move our circle and + to
      var additions = svg
      .append("g")
      .attr("transform", "translate("+
        (boundingBox.x+boundingBox.width*FUDGE)+","+
        (boundingBox.y+boundingBox.height*FUDGE)+")"
      )

      //Add the circle
      var circle = additions
      .append("circle")
      .attr("class","circleOfInterest")
      .attr("r",ANIMATION_RADIUS)
      .attr("opacity",0)
      .style("fill",COLOUR)

      //Add the plus sign
      var plus = additions
      .append("text")
      .attr("class","plusSign")
      .attr("text-anchor","middle")
      .attr("font-size","0.3em")
      .attr("dy","0.3em")
      .attr("opacity",0)
      .attr("transform","rotate("+180+") scale("+(ANIMATION_RADIUS/NORMAL_RADIUS)+","+(ANIMATION_RADIUS/NORMAL_RADIUS)+")")
      .style("fill","white")
      .text("+")

      //Append a transparent box to capture mouse over event
      var mouseCatcher = additions
      .append("rect")
      .attr("x",-OVER_RADIUS)
      .attr("y",-OVER_RADIUS)
      .attr("width",2*OVER_RADIUS)
      .attr("height",2*OVER_RADIUS)
      .attr("opacity",0)
      .style("cursor","pointer")

      var over = getOverListener(true,{circle,plus,drawnPart});
      var out = getOverListener(false,{circle,plus,drawnPart});
      var click = getClickListener(part)

      mouseCatcher
      .on("mouseover",over)
      .on("mouseout",out)
      .on("click",click)

  } else {
    console.error("I couldn't find",part,"using",id,"... Sad")
  }
}

function getClickListener(part){
  if(!handleClickFor || typeof handleClickFor !== 'function'){
    console.log("There's no click handler 'handleClickFor' declared in scripts. Sad")
    return ()=>{}
  } else {
    return ()=>{
      handleClickFor(part)
    }
  }
}

function getOverListener(over,bits){
  return (over ?
  function (){
    bits.circle
    .attr("r",OVER_RADIUS)
    .attr("opacity",1)

    bits.drawnPart
    .classed("outlinePart",true)
  } :
  function (){
    bits.circle
    .transition()
    .duration(250)
    .attr("r",3)
    .attr("opacity",OPACITY)

    bits.drawnPart
    .classed("outlinePart",false)
 })
}

function entryAnimation(){
  if(!ENTRY_ANIMATION){
    ENTRY_ANIMATION = true
    d3.selectAll(".circleOfInterest")
    .transition()
    .duration(750)
    .ease(d3.easeLinear)
    .attr("opacity",OPACITY)
    .attr("r",NORMAL_RADIUS)

    d3.selectAll(".plusSign")
    .transition()
    .duration(750)
    .ease(d3.easeLinear)
    .attr("opacity",1)
    .attr("transform","rotate("+0+") scale(1,1)")

    d3.select("svg")
    .on("mousemove",()=>{})
  }
}

elementsOfInterest.forEach((element)=>{
  attachHandlerTo(element)
})


</script>
