<script type = "application/javascript">

var FUDGE = 0.8; //(how far towards bottom right corner)

var elementsOfInterest = [
  {
    id : "path3427_3_",
    name : "Front Left Wheel"
  }
]

function attachHandlerTo({id, name}){
  console.log(id,name)
  var element = document.getElementById(id)
  if(null!== element){
      element.addEventListener("mouseover",getListenerFor(name))
      element.addEventListener("click",getListenerFor(name))
      var svgElem = d3.select("#"+id);
      var boundingBox = svgElem.node().getBBox()
      console.log(boundingBox)
      d3.select("svg")
      .append("circle")
      .style("fill","red")
      .attr("r",3)
      .attr("cx",boundingBox.x+boundingBox.width*FUDGE)
      .attr("cy",boundingBox.y+boundingBox.height*FUDGE)

  } else {
    console.error("I couldn't find",name,"using",id,"... Sad")
  }
}

function getListenerFor(name){
  return ()=>{
    //alert("You are over "+name)
  }
}

elementsOfInterest.forEach((element)=>{
  attachHandlerTo(element)
})

</script>
