<div class="row white">
  <form class="col s12">
    <div class="row">
        <input id="description" type="hidden" name = "description" class="validate">
        <div class = "h2">{{page.title}}</div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Placeholder" id="name" type="text" name = "name" class="validate">
        <label for="name" class = "active">Your name</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="0.00" id="amount" type="number" min="0.01" step="0.01" max="2500" name = "amount" class="validate">
        <label for="amount" class = "active">Amount (£)</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s6">
        <input placeholder="Email (for receipt)" id="email" type="email" name = "email" class="validate">
        <label for="email" class = "active">Email address</label>
      </div>
    </div>
    <div class = "row">
      <div class="input-field col s12">
        <div id="card-element" class="field is-empty"></div>
        <label for="card-element" class = "active">Card</label>
      </div>
    </div>
  </form>
</div>
