<script src="https://js.stripe.com/v3/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<div class="row valign-wrapper">
  <div class="col s12 m9 offset-m2">
    <div class="card white center">
      <div class="card-content" ng-app = "paymentApp" ng-controller = "paymentFormController">
        <form name = "paymentForm" ng-submit = "paymentFormSubmit()" ng-hide = "paid">
          <div class="row">
              <input id="description" type="hidden" name = "description" ng-model = "description">
              <input id="idem" type = "hidden" name = "idem" ng-model = "idem">
              <h4>I'd like to help repair the <strong>{{page.title | downcase}}</strong></h4>
          </div>
          <div class="row">
            <div class="input-field col s12 m10 offset-m1">
              <input placeholder="Jane Bloggs" id="name" type="text" name = "name" ng-model = "name" class="validate" required>
              <label for="name" class="active">Your name</label>
              <span ng-show="paymentForm.name.$touched && paymentForm.name.$invalid" class="red-text right" style="margin-top:-12px"><small>Please enter your name</small></span>
            </div>
            <div class="input-field col s12 m10 offset-m1">
              <input placeholder="Email (for receipt)" id="email" type="email" name = "email" ng-model = "email" class="validate">
              <label for="email" class="active">Email address</label>
              <span ng-show="paymentForm.email.$touched && paymentForm.email.$invalid" class="red-text right" style="margin-top:-12px"><small>Please enter a valid email address</small></span>
            </div>
            <div class="input-field col s6 m4 offset-m1">
              <input placeholder="0.00" id="amount" type="number" min="0.01" step="0.01" max="2500" name = "amount" ng-model = "amount" class="validate" required>
              <label for="amount" class="active">Amount (£)</label>
              <span ng-show="paymentForm.amount.$touched && paymentForm.amount.$invalid" class="red-text right" style="margin-top:-12px"><small>In pounds (and pence) please</small></span>
            </div>
            <div class="input-field col s12 m10 offset-m1">
              <textarea placeholder="Leave us a message" id="message" class="materialize-textarea"></textarea>
              <label for="message" class="active">Message</label>
            </div>
          </div>
          <div class = "row">
            <div class="input-field col s12 m10 offset-m1">
              <div id="card-element" class="field is-empty"></div>
              <div id="card-errors"></div>
            </div>
            <div class="input-field col s12">
              <button class="btn red darken-4 waves-effect waves-light" type="submit" ng-disabled = "disableSubmit">Make payment</button>
            </div>
          </div>
        </form>
        <div class="row" ng-if="showOutcome">
          <h4 class="col s12">{(outcome)}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<script type = "text/javascript">
  //use this to bind the description, test/live into Angular
  var GLOBAL = {};
  GLOBAL.description = "{{page.title}}"
  GLOBAL.stripeMode = "{{site.stripeMode}}"
  GLOBAL.successText = "{{site.successText}}"
</script>

<script src="/js/payment-form-handler.js" type="text/javascript"></script>
