<div class="section no-pad-bot valign-wrapper" style="height:100vh;background-image:url('./images/Hills.png');background-position: center;background-repeat: no-repeat;background-size: cover;">
  <div class="container">
    <div class="row center">
      <div class = "van">
        {% include_relative images/SuperHans.svg %}
      </div>
    </div>
  </div>

  <div class="fixed-action-btn vertical click-to-toggle">
      <a id="info_menu" class="btn-floating btn-large pulse scale-transition waves-effect waves-light red">
        <i class="large material-icons">info</i>
      </a>
  </div>

</div>
