<div class="section no-pad-bot valign-wrapper" style="height:100vh;background-image:url('./images/Hills.png');background-position: center;background-repeat: no-repeat;background-size: cover;">

  <div class="container" style="position:relative;">

    <div class="row center">
      <div class="van">
        {% include_relative images/SuperHans.svg %}
      </div>
    </div>

  </div>

  <!-- Test card -->
  <div id="card1" class="row scale-transition scale-out" style="position: absolute;top:10%;">
    <div class="col s12 m6 offset-m6">
      <div class="card">
        <div class="card-image">
          <img src="images/exhaust.jpg" style="width:70%">
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <span class="card-title">Exhaust</span>
          <p>I'm rusty and I rattle, I splutter and I cough.<br>Unless I'm mended very soon, I'm scared I might fall off.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Info button -->
  <div class="fixed-action-btn vertical click-to-toggle">
      <a id="info_menu" class="btn-floating btn-large scale-transition waves-effect waves-light red">
        <i class="large material-icons">info</i>
      </a>
  </div>

</div>
