<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <!--<body id="page-top" >-->
  <body id="page-top" class="valign-wrapper" style="background:url('./images/Hills.png') no-repeat; background-size:cover; background-position:center;">

<!--    <div class="section no-pad-bot valign-wrapper" style="height:100vh;background-image:url('/images/Hills.png');background-position:center;background-repeat:no-repeat;background-size:cover;">-->
      <div class = "container">
        {% include payment-form.html %}
      </div>
<!--    </div>-->
  </body>
</html>
