<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" class="valign-wrapper" style="background:url('/images/Hills.png') no-repeat; background-size:cover; background-position:center;">

      <div class = "container">
        {% include intro.html %}
      </div>

      <!--Scripts-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
